

.form-box{
  
   min-width: 30vw;
    background-color: rgb(244, 234, 234);
    box-shadow: 2em 2em 2em  rgb(247, 84, 84);
   
}

.toggleBtn {
      border: none;
      background: transparent;
}

.rounded-1:active{
    transform: scale(1.1);
}


.toggleBtn:hover{
    cursor: pointer;
    color: blue;
    transform: scale(1.1);
    text-decoration: underline;
}
