.tempContainer{
    box-shadow:0.4em 0 rgb(202, 22, 218);
    height: 89vh;
    border-radius: 2%;
    padding:1em;
    color:black;
   background-color:  rgb(222, 203, 245);
 
}

div[class*="template"]{
    cursor: pointer;
    height: 7.4em;
    width:  100%;
    border-radius: 5%;
}

.selected{
 
   box-shadow: 0 0  16px 6px rgb(17, 19, 166)
}

div[class*="img"]{
    height: 2em;
    width: 2em;
    
    border-radius: 50%;

}

div[class*="line"]{
    width: 5em;
    max-height: 0.4em;
}

