.navbar{
    padding:1em;
    margin-bottom: 1em;
    height: 8vh;
    
   
}

.authBtn{
  background: transparent;
  border:none;
  color:whitesmoke

}
.active{
    background-color: rgb(22, 169, 8);
    border-radius: 10%;
}